{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
        <h1>This is your Admin Panel {{ User.username }} !</h1> 
</div>
<br>

<div class="container">
<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Date and Time</th>
        <th>Manage</th>
    </tr>
    </thead>
    <tbody>
    {% for cab in cabs %}
        <tr>
        <td> {{ cab.source }} </td>
        <td> {{ cab.destination }} </td>
        <td class="align-middle"> {{ cab.dep_date_time }} </td>
        <td class="align-middle"> <a href="{% url 'manage_cab' pk=cab.pk username=User.username %}"><button class="btn btn-success">Manage Cab</button></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>  

{% endblock %}